# Ignore the Data folder and all its contents
/Data/

# Ignore Jupyter Notebook checkpoints folder
**/..ipynb_checkpoints/

# Optional: Ignore Python virtual environment folders
/venv/
/.venv/

# Optional: Ignore Python cache files
__pycache__/
*.pyc